$bold : 700;
$medium : 600;
$desktop: 1440px;
$mobile: 375px;
$container-width-desktop: 650px;
$container-height-desktop: 700px;

#container {
    @media only screen and (max-width: $desktop) {
        width: $container-width-desktop;
        height: $container-height-desktop;
        background-color: #ffffff;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 4% calc($container-width-desktop - 8%) 4%;
        grid-template-rows: calc($container-height-desktop * 1 / 10) calc($container-height-desktop * 9 / 10);
    }

    @media only screen and (max-width: $mobile) {
        grid-template-columns: 3% calc(100vw - 6%) 3%;
        grid-template-rows: 8% 92%;
        width: 100vw;
        height: 100vh;
    }

    .name:hover,
    .post:hover,
    .group:hover,
    .rightHeader:hover,
    .postPicture:hover {
        color: #08278a;
        cursor: pointer;
    }

    #header {
        grid-column: 2/3;
        grid-row: 1/2;
        height: 5%;
        display: flex;
        justify-content: space-between;
        margin-top: 5%;

        .leftHeader {
            color: #10101a;
            font-size: 16px;
            margin-top: -3px;

            .notiNumber {
                color: #ffffff;
                background-color: #062f7a;
                border-radius: 5px;
                padding: 2px 9px;
                font-size: 13px;
                margin-left: 5px;
            }
        }
    }

    .notificationList {
        grid-column: 2/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-row-gap: 1.5%;

        .notification {
            @media only screen and (max-width: $desktop) {
                grid-column: 1/3;
                display: flex;
                align-items: center;
                padding: 10px 12px;
                border-radius: 5px;
            }

            @media only screen and (max-height: 667px) {
                overflow: hidden;
            }

            &:hover {
                cursor: pointer;
            }

            &.active {
                background-color: #f2f6fa;

                .redDot {
                    height: 7px;
                    width: 7px;
                    background-color: #f20d0dd1;
                    border-radius: 50%;
                    display: inline-block;
                    margin-left: 7px;
                }
            }

            .postNoti {
                display: flex;
            }

            .commentNoti {
                @media only screen and (max-width: $desktop) {
                    display: flex;
                    // width: calc(100% - 2.5em );
                    width: 100%;
                }

                @media only screen and (max-width: $mobile) {
                    width: calc(100% - 2.5em - 15px)
                }
            }

            .picture {
                width: 2.5em;
            }

            .postPicture {
                width: 2.5em;
            }

            .content {
                margin-left: 1em;
            }

            .name {
                color: #10101a;
                font-weight: $bold;
            }

            .time {
                color: #939dae;
                font-size: 12.5px;
                padding-top: 3px;
            }

            .group {
                color: #073c9a;
                font-weight: $bold;
            }

            .post {
                font-weight: $medium;
            }
        }

        .notification.message {
            @media only screen and (max-width: $desktop) {
                display: flex;
                flex-direction: column;

                .messageNoti {
                    display: flex;
                    width: 100%;
                }

                .messageContent {
                    margin-left: 3em;
                    margin-right: 0.9em;
                    border: 0.7px solid #5e6778;
                    border-radius: 3px;
                    padding: 12px;
                    margin-top: 8px;
                }
            }

            @media only screen and (max-height: 667px) {
                .messageContent {
                    display: none;
                }
            }

            .messageContent:hover {
                background-color: #e4eef8;
                border: none;
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }
}
